<div class="form-row">
    <div class="form-group col-md-6">
        <input type="text" placeholder="Buscar por:" class="form-control" id="search" [(ngModel)]="form.search">
    </div>
    <div class="form-group col-md-4">
        <input type="text" placeholder="Bloquear:" class="form-control" id="block" [(ngModel)]="form.block">
    </div>
    <div class="form-group col-md-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="stock" [(ngModel)]="form.stock">
            <label class="form-check-label" for="gridCheck">
                Apenas em estoque
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" (click)="search()" [disabled]="form.search.length < 3" class="btn btn-primary pull-right">Buscar produtos</button>
    </div>
</div>

<div *ngIf="products.top.length > 0">
    <h2 class="mt-4">Top 10</h2>

    <div class="row">    
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let product of products.top">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{product.product}}</h4>
                    <div class="meta">
                        <!-- <a href="#">{{product.store}}</a> -->
                    </div>
                    <div class="card-text">
                        {{product.stock ? 'Em estoque' : 'Sem estoque'}}
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-right">{{product.price | currency}}</span>
                    <span><i class=""></i>{{product.store}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="products.products.length > 0">
    <h2 class="mt-4">Produtos</h2>
    <div class="row">
        <div class="col-12 col-md-3">
            <input [(ngModel)]="moneyRange" type="range" min="1" step="1" max="100">
        </div>
        <div class="col-12 col-md-9">
            <div class="row">
                <label *ngFor="let option of lojas" class="col-12 col-md-4">
                    <input type="checkbox"
                            name="options"
                            [(ngModel)]="option.checked"/>
                    {{option.name}}
                </label>
            </div>
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let product of products.products | filtercurrency : moneyRange ">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{product.product}}</h4>
                    <div class="meta">
                        <!-- <a href="#">{{product.store}}</a> -->
                    </div>
                    <div class="card-text">
                        {{product.stock ? 'Em estoque' : 'Sem estoque'}}
                        <input type="checkbox" />
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-right">{{product.price | currency}}</span>
                    <span><i class=""></i>{{product.store}}</span>
                </div>
            </div>
        </div>
    </div>
</div>